# SPDX-License-Identifier: GPL-2.0
config USB_NET_AX_USB_NIC
	tristate "ASIX ax_usb_nic USB 3.0/2.0 to Gigabit Ethernet"
	depends on USB && MII
	select CRC32
	select PHYLIB
	help
	  This option adds support for ASIX AX88179 based USB 3.0/2.0
	  to Gigabit Ethernet adapters.

	  This driver should work with at least the following devices:
	    * ASIX AX88179A
	    * ASIX AX88178A
	    * Sitcomm LN-032

	  This driver creates an interface named "ethX", where X depends on
	  what other networking devices you have in use.
